[Unit]
Description=Ansible Pull Service

[Service]
Type=oneshot

Environment="ANSIBLE_REMOTE_TEMP=/tmp/.ansible"

ExecStart=/usr/bin/ansible-pull \
    --url {{ url }} \
    --full \
    --vault-password-file /opt/ansible_vault_password \
    {{ playbook }}

PrivateTmp=true
