[Unit]
Description=Ansible Pull Service

[Service]
Type=oneshot

Environment="ANSIBLE_REMOTE_TEMP=/tmp/.ansible"
Environment="ANSIBLE_VAULT_PASSWORD_FILE=/opt/ansible_vault_password"

ExecStart=/usr/bin/ansible-pull \
    --url {{ url }} \
    --full \
    --vault-id @ansible/vault.yml \
    {{ playbook }}

PrivateTmp=true
